<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeList</servlet-name>
        <servlet-class>controller.employee.EmployeeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDelete</servlet-name>
        <servlet-class>controller.employee.EmployeeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeUpdate</servlet-name>
        <servlet-class>controller.employee.EmployeeeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanListController</servlet-name>
        <servlet-class>controller.assignment.productionplan.PlanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDeleteController</servlet-name>
        <servlet-class>controller.assignment.productionplan.PlanDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDetailController</servlet-name>
        <servlet-class>controller.assignment.productionplan.DetailListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCreateController</servlet-name>
        <servlet-class>controller.assignment.productionplan.DetailCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <url-pattern>/plan/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <servlet-class>controller.assignment.productionplan.PlanCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeList</servlet-name>
        <url-pattern>/employee/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDelete</servlet-name>
        <url-pattern>/employee/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdate</servlet-name>
        <url-pattern>/employee/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanListController</servlet-name>
        <url-pattern>/plan/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDeleteController</servlet-name>
        <url-pattern>/plan/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDetailController</servlet-name>
        <url-pattern>/plandetails/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCreateController</servlet-name>
        <url-pattern>/plandetails/create</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>plandetailFilter</filter-name>
        <filter-class>filter.plandetailFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>plandetailFilter</filter-name>
        <url-pattern>/plandetails/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>plandetailFilter</filter-name>
        <url-pattern>/employee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>plandetailFilter</filter-name>
        <url-pattern>/plan/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>filter.AccessControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>/employee/create</url-pattern>
    </filter-mapping>
</web-app>
